.forms {
    background-color: #1f2d40;
    border-radius: 8px;
    margin: auto;
    padding: 1.5rem;
    width: 550px;
}

.input {
    width: 100%;
    margin: 2rem 0;

    input {
        width: 100%;
    }
}