
<div class="generations">
  <div class="generation"
    (click)="selectGeneration(-1)"
    [ngClass]="currentGeneration === -1 ? ' is-selected' : ''">
    {{'GENERAL.all' | translate }}
  </div>

  @for (generation of generations; track generation; let i = $index) {
    <div class="generation"
      (click)="selectGeneration(i)"
      [ngClass]="currentGeneration === i ? ' is-selected' : ''"
      >
      {{ 'Gen N°' + generation.GENERATION_NO }} - {{ generation.NAME }}
    </div>
  }
</div>

<div class="container">

  @for (pokemon of pokemons; track pokemon; let i = $index) {
    <div class="pokemons-list" [routerLink]="['/pokedex', pokemon.POKEMON_ID]" [id]="'pokemon-' + pokemon.POKEMON_ID">
      <div>
        <div class="pokemons-list__artwork">
          <img [src]="env.assetsURL + '/artwork/' + pokemon.POKEMON_ID + '.png'" alt="">
        </div>
        <div class="pokemons-list__number">N° {{ pokemon.POKEMON_ID | zeroPadding }}</div>
        <div class="pokemons-list__infos">
          <div class="pokemons-list__name"> {{ pokemon.NAME }} </div>
          <div class="pokemons-list__type">
            @for (type of pokemon.TYPE; track type) {
              <span [pTooltip]="'TYPE.' + type.name  | translate"  tooltipPosition="top">
                <img [src]="env.assetsURL + '/types/' + type.id + '.png'" alt="">
              </span>
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>

<div class="footer">

  <p-button
    class="mt-3 footer__load-more"
    [loading]="buttonLoading"
    label="{{ 'GENERAL.load_more' | translate }}"
    (click)="loadMore()"
  ></p-button>

  <div class="footer__pagination">
    {{ pagination.offset + 1 }} - {{ (pagination.offset + pagination.limit) < pagination.max ? (pagination.offset + pagination.limit) : pagination.max }} <span class="pagination__total">{{ 'GENERAL.on' | translate }} {{ pagination.max }}</span>
  </div>

</div>

<p-sidebar [(visible)]="sidebarVisible">
  <app-filter></app-filter>
</p-sidebar>
<p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right" />