<div>
    <p-button (click)="exportPokedex()">export</p-button>

    <p-button (click)="savePokedex()">save</p-button>

    <p-table
    id="pokemon"
    [value]="pokemons"
    styleClass="p-datatable-gridlines"
    [scrollable]="true"
    scrollHeight="calc(100vh - 200px)">
    <ng-template pTemplate="caption"> Pokédex</ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 1px">No</th>
            <th style="width: 1px">{{ 'POKELIST.sprite' | translate}}</th>
            <th style="width: 1px">{{ 'POKELIST.pokemon_name' | translate}}</th>
            <th style="width: 1px">{{ 'POKELIST.type' | translate}}</th>
            <th style="width: 1px">{{ 'POKELIST.gen' | translate}}</th>
            <th style="width: 1px">{{ 'POKELIST.owned' | translate}}</th>
            <th>{{ 'POKELIST.note' | translate}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pokemon let-i="rowIndex">
        <tr>
            <td>{{ pokemon.POKEMON_ID.toString().padStart(4, '0') }}</td>
            <td>
                <div class="flex justify-content-center align-items-center">
                    <div class="mini" style="width: 40px; height: 40px; overflow: visible;">
                        <img style="max-width: 65px " src='{{ _global.assetsURL + "/miniature/" + pokemon.POKEMON_ID + ".png" }}' alt="">
                    </div>
                </div>
                
            </td>
            <td>{{ pokemon.NAME_FR }}</td>
            <td>
                <div class="flex">
                       <img style="max-width: 32px; margin-right: 1rem;" pTooltip="{{ 'TYPE.type' + pokemon.TYPE_ID_1  | translate }}" src="{{ _global.assetsURL + '/types/' + pokemon.TYPE_ID_1 + '.png' }}" alt="">

                       <img style="max-width: 32px; margin-right: 1rem;" pTooltip="{{ 'TYPE.type' + pokemon.TYPE_ID_2  | translate }}" src="{{ _global.assetsURL + '/types/' + pokemon.TYPE_ID_2 + '.png' }}" alt="">

                </div>

            </td>
            <td><div class="flex justify-content-center align-items-center">{{ pokemon.GENERATION }}</div></td>
            <td><div class="flex justify-content-center align-items-center"> <p-inputSwitch [(ngModel)]="pokemon.owned"></p-inputSwitch></div> </td>
            <td></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer"> <tr>
        <td style="width: 1px">No</td>
        <td style="width: 1px">{{ 'POKELIST.sprite' | translate}}</td>
        <td style="width: 1px">{{ 'POKELIST.pokemon_name' | translate}}</td>
        <td style="width: 1px">{{ 'POKELIST.type' | translate}}</td>
        <td style="width: 1px">{{ 'POKELIST.gen' | translate}}</td>
        <td style="width: 1px">{{ 'POKELIST.owned' | translate}}</td>
        <td>{{ 'POKELIST.note' | translate}}</td>
    </tr> </ng-template>
</p-table>
</div>
