<div *ngIf="currentPage === 'sign-up'; else signin" class="flex flex-column forms">

    <div class="title">{{ 'USER.signup' | translate }}</div>

    <div class="flex justify-content-between input">
        <div class="p-float-label" style="width: 48%;">
            <input pInputText id="firstname" [(ngModel)]="user.FIRSTNAME" />
            <label htmlFor="firstname">{{ 'USER.firstname' | translate }}</label>
        </div>

        <div class="p-float-label" style="width: 48%;">
            <input pInputText id="lastname" [(ngModel)]="user.LASTNAME" />
            <label htmlFor="lastname">{{ 'USER.lastname' | translate }}</label>
        </div>
    </div>

    <div class="input">
        <span class="p-float-label">
            <input pInputText id="email" [(ngModel)]="user.EMAIL" />
            <label htmlFor="email">{{ 'USER.email' | translate }}</label>
        </span>
    </div>

    <div class="input">
        <span class="p-float-label">
            <input pInputText id="username" [(ngModel)]="user.USERNAME" />
            <label htmlFor="username">{{ 'USER.username' | translate }}</label>
        </span>
    </div>

    <div class="input">
        <span class="p-float-label">
            <input pInputText id="password" [(ngModel)]="user.PASSWORD" />
            <label htmlFor="password">{{ 'USER.password' | translate }}</label>
        </span>
    </div>

    <p-button [loading]="buttonLoading" label="{{ 'USER.signup' | translate }}" (click)="signUp()"></p-button>

</div>

<ng-template #signin>
    <div class="flex flex-column forms">

        <div class="title">{{ 'USER.signin' | translate }}</div>

        <div class="input">
            <span class="p-float-label">
                <input pInputText id="email" [(ngModel)]="user.EMAIL" />
                <label htmlFor="email">{{ 'USER.email' | translate }}</label>
            </span>
        </div>

        <div class="input">
            <span class="p-float-label">
                <input pInputText id="password" [(ngModel)]="user.PASSWORD" />
                <label htmlFor="password">{{ 'USER.password' | translate }}</label>
            </span>
        </div>

        <p-button [loading]="buttonLoading" label="{{ 'USER.signin' | translate }}" (click)="signIn()"></p-button>

    </div>
</ng-template>


