.forms {
    background-color: #1f2d40;
    border-radius: 8px;
    margin: auto;
    padding: 1.5rem;
    width: 550px;
}

.title {
    margin: auto;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.input {
    width: 100%;
    margin: 1rem 0;

    input {
        width: 100%;
    }
}