     <div class="toto">
      <table class="table table-header-rotated table-striped table-hover table-striped-column">
        <thead>
          <tr>
            <th class="row-header">Set</th>
            <!-- Following headers are rotated -->
            <th *ngFor="let set of sets" class="diagonal-header"><div><span> {{set.id}} </span></div></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pokemon of pokemons">
            <td> {{ pokemon.NAME }} </td>
            <td *ngFor="let key of sets.length | forNumber"> </td>

          </tr>
          
        </tbody>
      </table>
    </div>