@use "./styles/fonts.scss";
@use "./styles/variables.scss";


body {
	font-family: glacial !important;
	margin: 0;
}

.p-component {
	font-family: glacial !important;
}

:root {
	--menu-color-0: #1e766b;
	--menu-color-1: #2a9d8f;
	--menu-color-2: #e9c46a;
	--menu-color-3: #f4a261;
	--menu-color-4: #e76f51;
}


:root {
	--menu-color-0: #f6b339;
	--menu-color-1: #da7b27;
	--menu-color-2: #d7572b;
	--menu-color-3: #c23028;
	--menu-color-4: #77021d;
}