@import "./styles/fonts.scss";
@import "./styles/variables.scss";
@import "primeicons/primeicons.css";

body {
	font-family: glacial !important;
	margin: 0;
}

.p-component {
	font-family: glacial !important;
}
