@font-face {
    font-family: pokemon-h;
    src: url("../assets/fonts/pokemon-hollow.ttf") format("truetype");
}

@font-face {
    font-family: pokemon-s;
    src: url("../assets/fonts/pokemon-solid.ttf") format("truetype");
}

@font-face {
    font-family: glacial;
    src: url("../assets/fonts/GlacialIndifference-Regular.otf") format("opentype");
}