.container {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: auto;
}

.skeleton-block {
    margin: 8px;
    flex: 0 1 calc(20% - 16px);
    position: relative;
    padding: 1rem;
}

.pokemon-block {
    border-radius: 8px;
    background: #1f2d40;
    margin: 8px;
    flex: 0 1 calc(20% - 16px);
    position: relative;
    padding: 1rem;
    img {
        max-width:100%;
    }
}

.pokemon-block:hover {
    cursor: pointer;
    box-shadow: 0 0px 16px #1f2d40;
}

.info {
    text-align: center;
    width: 100%;
    margin: auto;

    .name {
        font-weight: bold;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .number {
        font-weight: bold;
        font-style: italic;
        color: #4c607b;
        margin-left: 0.5rem;
    }
}

.mini {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 64px !important;
}

.types {
    display: flex;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.type {
    width: 32px;
    margin-right: 0.5rem;
}

.loadMore {
    text-align: center;
    margin: 2rem 0 4rem 0;
    width: 100%;
}

.loadText {
    font-size: 1.25rem;
    text-transform: uppercase;
}