

<div class="flex" *ngIf="!pokemons.length; else pokemonList">
    <div class="container">
        <p-skeleton class="skeleton-block" *ngFor="let number of 25 | forNumber" size="15rem"></p-skeleton>
    </div>
</div>

<ng-template #pokemonList>
    <div class="container">

        <div *ngFor="let pokemon of pokemons" class="pokemon-block">
            <div class="pokemon-img">
                <img src='{{ "http://localhost:3000/assets/artwork/" + pokemon.POKEMON_ID + ".png" }}' alt="">
           <!-- <img class="mini" src='{{ "http://localhost:3000/assets/miniature/" + pokemon.POKEMON_ID + ".png" }}' alt=""> -->
            </div>
            <div class="info flex justify-content-center align-items-center">
                <span class="name"> {{ pokemon.NAME[0].name }} </span>
                <span class="number">#{{ pokemon.POKEMON_ID.toString().padStart(4, '0') }}</span>
            </div>

            <div class="types">
                <div class="type" *ngFor="let type of pokemon.INFORMATIONS.type">
                    <img pTooltip="{{ 'TYPE.' + type.name  | translate }}" src="{{ 'http://localhost:3000/assets/types/' + type.name + '.png' }}" alt="">
                </div>
            </div>
        </div>

    </div>
</ng-template>


<div class="loadMore">
    <p-button *ngIf="offset < max" (click)="loadMorePokemons()">
        <span class="loadText">
            {{ 'GENERAL.load_more' | translate }}
        </span>
    </p-button>
</div>