.pokelist-block {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: auto;
}

.pokelist-container {
    margin: 8px;
    flex: 0 1 calc(50% - 16px);
}

p-fieldset:hover {
    cursor: pointer;
}