<div style="display: flex; margin: auto; justify-content: center; max-width: 500px;">
  <div class="card card-spark">
    <div class="card-title">Action ou Vérité ?</div>
    <div class="card-desc">Jeu où l’on choisit entre faire un défi (action) ou répondre à une question (vérité), avec des thèmes et niveaux pour adapter l’ambiance.</div>
    <div class="card-footer">
      <span></span>
      <button [routerLink]="['games/truthordare']" class="btn btn-spark btn-sm">Jouer !</button>
    </div>
  </div>
</div>