@import "../../../styles/variables.scss";

.logo {
	font-family: pokemon-h;
	font-size: 10rem;

	display: flex;
	flex-direction: column;
	align-items: center;

	img {
		max-width: 50vw;
	}
}

.wip {
	background: url("https://images6.alphacoders.com/745/745060.png");
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	color: black;
	font-size: 4rem;
	text-transform: uppercase;
	background-position: center;
	background-size: cover;
}
