  <nav class="nav">
    <div [routerLink]="['/']"  class="nav-logo">
        ✦ Spark ✦
    </div>
    <div class="nav-links">
        @if (AuthGuardService.hadEnoughPower(5)) {
            <span [routerLink]="['/database']" class="nav-link">Base de donnée</span>
        }
    </div>
     @if (isConnected) {
        <button [routerLink]="['/users/sign-in']" class="btn btn-ghost"></button>
    } @else {
        <button [routerLink]="['/users/sign-in']" class="btn btn-ghost">Se connecter</button>
    }
    
</nav>
